In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\llivi\OneDrive\Desktop\web_sales.csv')
df.head()

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998

In [4]:
# average sales per year
average_sale_per_year = df.groupby('CalendarYear')['SalesAmount'].mean()
average_sale_per_year

CalendarYear
2010    3101.502600
2011    3192.926863
2012    1719.895553
2013     309.682588
2014      23.195289
Name: SalesAmount, dtype: float64

In [5]:
sum_of_sale_per_product_per_year = df.groupby(['product','CalendarYear'])['SalesAmount'].sum()
print(sum_of_sale_per_product_per_year)

product                     CalendarYear
AWC Logo Cap                2012               71.92
                            2013            18870.01
                            2014              746.17
All-Purpose Bike Stand      2012              159.00
                            2013            37683.00
                                              ...
Women's Mountain Shorts, L  2014             1609.77
Women's Mountain Shorts, M  2013            23376.66
                            2014             1259.82
Women's Mountain Shorts, S  2013            20227.11
                            2014             1049.85
Name: SalesAmount, Length: 271, dtype: float64